body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    font-family: Arial, sans-serif;
    padding: 15px 15px;
    box-shadow: 0 10px 10px rgba(21, 21, 21, 0.082);
}

button {
    padding: 4px 6px;
    border: none;
    background-color: #0066cc;
    color: white;
}

button:hover {
    background-color: #004999;
    color: white;
}

input {
    padding: 4px 6px;
}

#cliente{
    background-color: #e7ebff;  
}

ul {
    list-style-type: none;
    border-radius: 8px;
    padding: 0;
}

li {
    background-color: #f2e7ff;
    padding: 8px 12px;
    margin-bottom: 5px;
}